
#heading1 {
    text-align: center;
    color: white;
    font-size: 65px;
}

#myform {
    align-items: center;
}

body {
    background-image: url(assets/blur_bg.png);
}

#heading2 {
    text-align: center;
    color: white;
}